@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;700&family=Varela+Round&display=swap');

root {
  --main-font: 'League Spartan', sans-serif;
  --second-font: 'Varela Round', sans-serif;
}


/* product section */
body, html {
margin: 0;
padding: 0;
}


.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 60px;
  margin-bottom: 260px;
}

/* left column */
.leftColumn {
  position: relative;
  width: 65%;
}

.leftColumn img {
  width: 100%;
  max-width: 700px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 10ms ease-in-out;
}

.leftColumn img.active {
  opacity: 1;
}
/* right column */

.rightColumn {
  width: 35%;
}

/* product description */

.productDescription {
  border-bottom: 1px solid rgb(204, 197, 197);
  margin-bottom: 20px;
}

.productDescription h1 {
  font-weight: 600;
  font-family: var(--main-font);
}

.productDescription p {
  font-weight: 400;
  font-family: var(--main-font);
  color: rgb(96, 94, 94);
}

/* product pattern */

.product-color {
  margin-bottom: 30px;
}

.colorChoose div {
  display: inline-block;
}

.colorChoose input[type='radio'] {
  display: none;
}

.colorChoose input[type='radio'] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 20px 10px 20px 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.colorChoose input[type='radio']#rainbow + label span {
  background-image: url(../images/rainbowPattern.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.colorChoose input[type='radio']#wildAnimal + label span {
  background-image: url(../images/wildAnimalPattern.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.colorChoose input[type='radio']#pink + label span {
  background-image: url(../images/pinkPattern.png);
  background-color: #efd5d3;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.colorChoose input[type='radio']#blue + label span {
  background-image: url(../images/bluePattern.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.colorChoose input[type='radio'] + label .activeInput {
  border: 3px solid rgb(132, 128, 128);
}

/* product price */

.productPrice {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.productPrice span {
  font-size: 20px;
  font-family: var(--main-font);
  margin-right: 20px;
}

.cartBtn {
  display: inline-block;
  color: white;
  background: black;
  border-radius: 6px;
  font-size: 16px;
  font-family: var(--main-font);
  text-decoration: none;
  padding: 5px 10px;
  transition: all 150ms ease-in-out;
  border-width: 0;
  border-style: none;
}

.cartBtn:hover {
  background: rgb(112, 59, 59);
  cursor: pointer;
}

/* media queries */

@media (max-width: 690px) {
  .heading {
    padding-top: 0;
  }

  .heroImage {
    padding: 80px;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .leftColumn {
    width: 100%;
    margin-top: 20px;
  }

  .rightColumn {
    width: 100%;
    padding-top: 450px;
  }
}

@media (max-width: 550px) {
  .rightColumn {
    width: 100%;
    padding-top: 350px;
  }
}

@media (max-width: 450px) {
  .rightColumn {
    width: 100%;
    padding-top: 280px;
  }
}
